.sale {
	background: var(--general-text);
	color: var(--dark-mode-text);
}
.sale__inner {
	display: flex;
	justify-content: space-between;
	min-height: 560px;
}
.sale__inner:first-child {
	align-items: center;
}
.group-text {
	padding: 15px 0;
	max-width: 450px;
	width: 100%;
	min-width: 290px;
}
.text__inner {
	display: grid;
	justify-items: left;
	gap: 20px;
}
.subitle {
	display: block;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}
.sale__title {
	font-family: 'namu-1850';
	font-size: 42px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 1.6vw;
}
.sale__title b {
	font-size: 64px;
	font-family: 'namu-1850';
}
.sale h2 mark {
	font-size: 64px;
	font-family: 'namu-pro';
	color: #4d57c8;
	background: var(--general-text);
}
.group-img {
	align-self: self-end;
}
.group-img__inner {
	display: grid;
	gap: 5px;
	padding: 0 15px;
}
.img__bag {
	max-width: 190px;
	width: 100%;
	object-fit: scale-down;
	min-width: 60px;
}
.img__complect {
	max-width: 900px;
	width: 100%;
	object-fit: scale-down;
	min-width: 280px;
}
/* ================================================= */

.airwrap {
	background: #dedede;
}
.airwrap-group-text {
	min-width: 50%;
	padding-right: 15px;
}
.airwrap-text__inner h3 {
	color: var(--general-text);
	font-family: 'namu-pro';
	font-size: 42px;
	line-height: 1.1;
	margin-bottom: 40px;
}
.airwrap__title {
	color: var(--general-text);
	font-family: 'namu-1850';
	font-size: 26px;
}
.airwrap__subitle {
	color: var(--general-text);
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}
.title__blue {
	color: #4d57c8;
}
.title__rose {
	color: #cd8885;
}
.airwrap__img {
	position: relative;
	align-self: end;
	justify-self: end;
}
.airwrap__img img {
	max-width: 600px;
	min-width: 300px;
	position: absolute;
	bottom: 0;
	right: 0;
}
