:root {
	--general-text: #111111;
	--dark-mode-text: #ffffff;
	--general-bg: #f8f8f8;
	--promo-bg: #dddddd;
	--accent-color: #c5358c;
	--green-color: #68ae5c;
	--transition: 0.4s;
	--border-radius: 3px;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 5vw;
}
.body {
	font-family: 'Open-sans', 'Arial', sans-serif;
	color: var(--general-text);
	background: var(--general-bg);
}
.body--opened-menu,
.body--opened-modal {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex-grow: 1;
}
.container {
	max-width: 1390px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}
.hidden {
	overflow: hidden;
	opacity: 0;
	position: absolute;
}

.theme-mode {
	width: 80px;
	height: 40px;
	border-radius: 50px;
	background: #444444;
	margin: 0 20px;
}
.theme__pointer {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border-radius: 50%;
	background: #111111;
}

.logo img {
	width: 123px;
}

.list__item:hover {
	color: var(--accent-color);
	text-shadow: 0px 0px 20px var(--accent-color);
}

.number:hover {
	color: #c5599a;
	text-shadow: 0px 0px 20px var(--accent-color);
}

/* ============================================================================================= */
.promo {
	max-height: 850px;
	background: var(--promo-bg);
}
.promo__inner {
	display: grid;
	grid-template-columns: 1.23fr 1fr;
}

.promo__text {
	align-self: center;
}
.promo__title {
	font-family: 'namu-pro';
	font-size: 42px;
	font-weight: 900;
	line-height: 1.1;
	padding-bottom: 40px;
}
.promo__subtitle {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
}
.promo__img {
	max-width: 610px;
	max-height: 780px;
	min-width: 265px;
}
.promo__img img {
	height: auto;
	width: 100%;
}
/* ================================================================================================== */
.promo-video {
	background: var(--promo-bg);
}
.promo-video__inner {
	position: relative;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	align-content: center;
	padding: 120px 0 52px;
}
.promo-video__video img {
	height: auto;
	width: 100%;
}
.promo-video__text {
	align-self: start;
	margin-top: 100px;
}
.play {
	position: absolute;
	top: 50%;
	left: 40%;
	border: 2px solid var(--general-text);
	border-radius: 50%;
	min-width: 50px;
	width: 6%;
	aspect-ratio: 1 / 1;
	flex-shrink: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
}
.play svg {
	margin-left: 7%;
	width: 50%;
	height: 50%;
}

.play:hover path {
	fill: var(--accent-color);
	box-shadow: 0px 0px 20px var(--accent-color);
}
.play:hover {
	border-color: var(--accent-color);
	box-shadow: 0px 0px 20px var(--accent-color);
}
