.promo {
	background: var(--promo-bg);
	margin-top: 90px;
}
.promo__inner {
	position: relative;
	display: grid;
	gap: 15px 30px;
	grid-template-columns: repeat(2, 1fr);
	height: 800px;
}

.promo__text {
	align-self: center;
	min-width: 40vw;
}
.promo__title {
	font-family: 'namu-pro';
	font-size: 42px;
	font-weight: 900;
	line-height: 1.1;
	padding-bottom: 40px;
}
.promo__subtitle {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
}
.promo__img {
	position: relative;
	display: flex;
	align-items: end;
	justify-content: end;
}
.promo__img img {
	position: absolute;
	right: 0;
	bottom: 0;
	height: auto;
	max-width: 600px;
	object-fit: cover;
	object-position: bottom right;
	min-width: 260px;
}
/* ================================================================================================== */
.promo-video {
	background: var(--promo-bg);
}
.promo-video__inner {
	position: relative;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	align-content: center;
}
.promo-video__video img {
	min-width: 280px;
}
.promo-video__text {
	align-self: center;
}
.play {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 40%;
	transition: var(--transition);
	min-width: 50px;
	width: 6%;
	aspect-ratio: 1/1;
	flex-shrink: 1;
}
.play svg {
	margin-left: 8%;
	min-width: 20px;
	width: 45%;
}

.play::before {
	content: '';
	position: absolute;
	border: 2px solid var(--general-text);
	border-radius: 50%;
	inset: 0%;
	transition: var(--transition);
}

.play:hover path {
	fill: var(--accent-color);
	box-shadow: 0px 0px 20px var(--accent-color);
}
.play:hover::before {
	border-color: var(--accent-color);
	box-shadow: 0px 0px 20px var(--accent-color);
}
