.first {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	line-height: 30px;
}
.second {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	text-decoration: line-through;
}
.third {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}
.fourth {
	text-decoration-style: wavy;
	text-decoration-color: black;
	text-decoration-line: overline;
	text-shadow: 1px 1px 2px #4e1583;
	word-spacing: 30px;
}
.fifth {
	letter-spacing: 5px;
	text-decoration: underline double black;
}
